ELSE HACE LLAMADO INSERT INTO taca_franja: ** pn_horcodnum 50267 ** pn_ejecodnum 415 ** pn_percodnum 1 ** pn_dsm 6 ** pn_codnum 117424 ** pn_horini 7 ** pn_minini 0 ** pn_horfin 10 ** pn_minfin 30 ** 0 0 ** pn_cod_mrt_lugar 0 ** pn_aul_codnum  ** pn_ele_codnum 
"Error  insert taca_franja :ORA-20675: Ya existe una franja para este grupo de actividad. Asigne el horario de la entidad, directamente en el horario del grupo
ORA-06512: en "UXXIAC.UIB$UERR", línea 857
ORA-06512: en "UXXIAC.ACA$DSRG", línea 220
ORA-06512: en "UXXIAC.DACA_FRN_ASIU_SOLAPE_HORARIO", línea 2
ORA-04088: error durante la ejecución del disparador 'UXXIAC.DACA_FRN_ASIU_SOLAPE_HORARIO'"